.review {
  margin: 10px 20px;
}
.review-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.rating {
  display: flex;
  margin-bottom: 10px;
  &-star {
    margin-left: 10px;
  }
}
.category {
  margin: 0;
  margin-right: auto;
}
.MuiOutlinedInput-root {
  &.Mui-focused {
    border-color: red;
  }
}

.save {
  display: flex;
  margin: 20px;
  width: 100%;
  &-btn {
    margin-left: auto;
    width: 200px;
  }
}
