.review {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;

  &-content {
    background-color: aliceblue;
    margin: auto;
    height: 90%;
    width: fit-content;
  }
  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    &--heading {
      margin: 20px;
    }
  }
  &-close {
    width: 30px;
    margin-left: auto;
  }
  &-close::before {
    content: "x";
    color: rgb(9, 9, 9);
    font-weight: 300;
    font-family: Arial, sans-serif;
  }
}
