$card-item-width: var(--card-item-width, 33.3333%);
@media (min-width: 40rem) {
  $card-item-width: 50%;
}
@media (min-width: 56rem) {
  $card-item-width: 33.3333%;
}
.prop-item {
  width: $card-item-width;
  margin: 10px;
  align-items: center;
}
.rating {
  display: flex;
  margin-top: 10px;
  .no-of-reviews {
    margin-left: auto;
  }
}
