.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Detail {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}
.review-menu {
  width: 60%;
}
.add-review {
  width: 40%;
}

//style={{ float: "right", paddingRight: "20px" }}
